<h1>Grammars</h1>

<% if grammars.any? %>
  <%= link_to "Create a new grammar", routes.path(:new_grammar) %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Repository URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% grammars.each do |grammar| %>
        <tr>
          <td><%= link_to grammar.name, routes.path(:grammar, id: grammar.id) %></td>
          <td><%= grammar.description %></td>
          <td><%= link_to grammar.repository_url, grammar.repository_url, target: "_blank" %></td>
          <td>
            <%= link_to "Edit", routes.path(:edit_grammar, id: grammar.id) %>
            <%= link_to "Versions", routes.path(:grammar_versions, grammar_id: grammar.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No grammars found. <%= link_to "Create a new grammar", routes.path(:new_grammar) %></p>
<% end %>
